@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
	font-family: "Anonymous Pro", monospace;
}

html, body {
	background: #7F9BB1;
	overflow: auto;
	margin: 0;
	padding: 0;
	height: 100%;
}

.container {
	min-height: 100%;
	position: relative;
}

.body {
	padding: 10px;
	padding-bottom: 6rem;
}

.header {
	font-family: "Anonymous Pro", monospace;
	text-align: center;
	background: #3A5E79;
	background-size: cover;
	position: relative;
	overflow: visible;
	padding-top: 2.5rem;
	padding-bottom: 4.9rem;
}

.header .headline {
	color: #ffe;
	font-family: "Press Start 2P", cursive;
	font-size: 1.5rem;
}

.header-subnav {
	float: none;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	bottom: 0;
	width: 100%;
}

.header-subnav li {
	float: none;
	display: inline-block;
}

.header-subnav li a {
	padding: 0.9rem 1rem;
	font-size: 0.75rem;
	color: #ffe;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all 0.35s ease-in-out;
}

.header-subnav li a.is-active {
	background: rgba(250, 250, 250, 0.15);
}

.header-subnav li a:hover {
	background: rgba(250, 250, 250, 0.15);
	transition: all 0.35s ease-in-out;
}

.event {
	display: table;
	background: #dee0e1;
	padding: 1rem;
	border-radius: 0.1rem;
	margin-bottom: 3rem;
}

.event-date {
	width: 6rem;
	margin: 0 auto 1rem;
	display: table-cell;
	width: auto;
}

.event-date .event-month {
	margin: 0;
	background: #eee;
	padding: 0.5rem 2rem;
	text-align: center;
}

.event-date .event-day {
	margin: 0;
	border: 1px solid #eee;
	padding: 0 2rem;
	text-align: center;
	font-size: 2rem;
}

.event-desc {
	padding: 0 0 0 1rem;
	text-align: left;
	display: table-cell;
	vertical-align: top;
}

.event-desc .event-desc-header {
	margin: 0 0 0.5rem 0;
	padding: 0;
}

.event-desc .event-desc-detail {
	margin: 0 0 0.25rem;
	padding: 0;
}

.event-desc .event-desc-time {
	font-weight: bold;
}

.event-desc .rsvp.button {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin: 0;
	background: #3A5E79;
}

.filterEvents {
	margin-top: 50px;
	padding-left: 0.3rem;
}

.filterEvents h2 {
	text-align: center;
}

.filterEvents form.custom .custom.dropdown {
	height: 45px;
}

.filterEvents label {
	margin-bottom: 10px;
}

.filterEvents form.custom .custom.dropdown {
	padding-top: 5px;
}

.filterEvents form.custom .custom.dropdown .selector {
	top: 5px;
}

.filterEvents .button {
	height: 45px;
	margin-top: 25px;
}

.row {
	max-width: 1200px;
}

.footer {
	background-color: #3A5E79;
	text-align: center;
	font-size: 1.2rem;
	padding: 1rem;
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 6rem;
}

.footer
 
.inline-list
 
a {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	border-radius: 2px;
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin: 0 3px 0 0;
}

.footer
 
.contact {
	list-style-type: none;
	margin: 0;
	text-align: left;
	color: #fff;
}

.footer
 
.contact
 
li {
	margin-bottom: 2rem;
}

.footer
 
.contact
 
li
 
p {
	padding-left: 5rem;
}

.footer
 
.contact
 
i {
	position: absolute;
	color: #fff;
	font-size: 2rem;
	border-radius: 50%;
	line-height: 1;
	margin: 0 0 0 -4rem;
	vertical-align: middle;
	padding: .25em .45em;
}

.footer
 
.copywrite {
	color: #8f9296;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
}

.footer
 
.about {
	color: #92999f;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
}

.footer
 
.footer-links
 
a {
	list-style: none;
	font-weight: normal;
	color: #fff;
	padding: 3rem 0 2rem;
	margin: 0;
	font-size: 0.875rem;
}

.footer
 
.footer-links
 
a
:
:after {
	content: "ò";
	padding: 0 0.2rem 0 0.4rem;
}

.footer
 
.footer-links
 
a
:last-child
:
:after {
	content: "";
	padding: 0 0.4rem 0 0.8rem;
}

@media only screen and (min-width: 40.063em) {
	.footer p {
		text-align: left;
	}
	.footer .social {
		text-align: left;
		margin: 0;
	}
	.footer .contact {
		text-align: left;
	}
	.footer .contact>i {
		margin-right: 1rem;
	}
}

.footer .inline-list a {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	border-radius: 2px;
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin: 0 3px 0 0;
}

.footer .contact {
	list-style-type: none;
	margin: 0;
	text-align: left;
	color: #fff;
}

.footer .contact li {
	margin-bottom: 2rem;
}

.footer .contact li p {
	padding-left: 5rem;
}

.footer .contact i {
	position: absolute;
	color: #fff;
	font-size: 2rem;
	border-radius: 50%;
	line-height: 1;
	margin: 0 0 0 -4rem;
	vertical-align: middle;
	padding: .25em .45em;
}

.footer .copywrite {
	color: #8f9296;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
}

.footer .about {
	color: #92999f;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
}

.footer .footer-links a {
	list-style: none;
	font-weight: normal;
	color: #fff;
	padding: 3rem 0 2rem;
	margin: 0;
	font-size: 0.875rem;
}

.footer .footer-links a::after {
	content: "ò";
	padding: 0 0.2rem 0 0.4rem;
}

.footer .footer-links a:last-child::after {
	content: "";
	padding: 0 0.4rem 0 0.8rem;
}

@media only screen and (min-width: 40.063em) {
	.footer
 
p {
		text-align: left;
	}
	.footer
 
.social {
		text-align: left;
		margin: 0;
	}
	.footer
 
.contact {
		text-align: left;
	}
	.footer
 
.contact>i {
		margin-right: 1rem;
	}
}

#filtterit {
	display: none;
}

#success, #inputvirhe {
	display: none;
	position: fixed;
	left: 41%;
	top: 41%;
	border-radius: 0.3rem;
	padding-right: 2.5rem;
	padding-bottom: 0rem;
	width: 20%;
}

#beer {
	width: 3rem;
	height: auto;
}

.expandable {
	display: none;
	padding: 2rem;
	border-radius: 0.3rem;
}

.cancel-button {
	background: #EE8A8A;
	width: 100%;
	color: white;
}

.main-content {
	margin-top: 50px;
}

* {
	font-family: "Anonymous Pro", monospace;
}

/*# sourceMappingURL=apply.css.map */