table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

/* virhe viesti */
.submitError , .Virheteksti{
	color: red;
	text-align: center;	
}

.VirheellinenKentta {
	border: 2px solid red;
}

.IGfeediboksi {
	background: #dee0e1;
}