
/* virhe viesti */
.submitError , .Virheteksti{
	color: red;
	text-align: center;	
}

/* onnistunut viesti */
.submitSuccess {
	color: green;
	text-align: center;	
}

.VirheellinenKentta {
	border: 2px solid red;
}

.IGfeediboksi {
	background: #dee0e1;
}

.white {
	color: white;
}

.center {
	text-align: center;
	margin: auto;
}
