
/* virhe viesti */
.submitError , .Virheteksti{
	color: red;
	text-align: center;	
}

/* onnistunut viesti */
.submitSuccess {
	color: green;
	text-align: center;	
}

.VirheellinenKentta {
	border: 2px solid red;
}

.IGfeediboksi {
	background: #dee0e1;
}

.white {
	color: white;
}

.center {
	text-align: center;
	margin: auto;
}

.valittu {
	transition-delay: 1s;
	transition: 0.5s;
	transform: scale(1.04, 1.04);
	background-color: white;
	border: 1px solid black;
}

#olutKuva {
	transition: 0.5s;
}

.suurennaKuva {
	transition: 0.5s;
	transform: scale(2, 2);
}

.pienennaKuva {
	transition: 0.5s;
	transform: scale(0.5, 0.5);
}

